<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="static/assets/apple-icon-180x180.png">
  <link href="static/assets/laptop.png" rel="icon">

  <title>Hiruy's portfolio</title>

  <!-- Bootstrap CSS for navbar and layout -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="static/main.css" rel="stylesheet">
</head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>
      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h3>So...</h3>
                  <p>My foray into 𝙘𝙤𝙢𝙥𝙪𝙩𝙚𝙧 𝙨𝙘𝙞𝙚𝙣𝙘𝙚 started with a passion to solve problems, a mindset formed through early experiences 𝙛𝙞𝙭𝙞𝙣𝙜 𝙖𝙥𝙥𝙡𝙞𝙖𝙣𝙘𝙚𝙨 and 𝙘𝙧𝙚𝙖𝙩𝙞𝙣𝙜 𝙥𝙧𝙤𝙙𝙪𝙘𝙩𝙨 𝙛𝙧𝙤𝙢 𝙨𝙘𝙧𝙖𝙩𝙘𝙝. Curiosity propelled me into the world of 𝙥𝙧𝙤𝙜𝙧𝙖𝙢𝙢𝙞𝙣𝙜, turning perplexity into thoughtful 𝙥𝙧𝙤𝙗𝙡𝙚𝙢-𝙨𝙤𝙡𝙫𝙞𝙣𝙜. </p>

                   <p> As a 𝘾𝙤𝙢𝙥𝙪𝙩𝙚𝙧 𝙎𝙘𝙞𝙚𝙣𝙘𝙚 student, I want to become an overall great 𝙀𝙉𝙂𝙄𝙉𝙀𝙀𝙍, with increasing emphasis on 𝙨𝙚𝙧𝙫𝙚𝙧-𝙨𝙞𝙙𝙚 𝙙𝙚𝙫𝙚𝙡𝙤𝙥𝙢𝙚𝙣𝙩, 𝘼𝙄, and 𝙈𝙖𝙘𝙝𝙞𝙣𝙚 𝙇𝙚𝙖𝙧𝙣𝙞𝙣𝙜. I have hands-on experience with 𝙖𝙪𝙩𝙤𝙣𝙤𝙢𝙤𝙪𝙨 𝙖𝙜𝙚𝙣𝙩 𝙨𝙤𝙡𝙪𝙩𝙞𝙤𝙣𝙨 at Schneider Electric. My research area is 𝙧𝙚𝙞𝙣𝙛𝙤𝙧𝙘𝙚𝙢𝙚𝙣𝙩 𝙡𝙚𝙖𝙧𝙣𝙞𝙣𝙜 for route optimization, where I have made use of 𝙂𝙋𝙐 acceleration as well as 𝘾𝙐𝘿𝘼 for performance optimization. I am currently building Real-Time ASL and Speech Communication tool for Video Conferencing.</p> 
                  
                   <p>My technical skill set ranges across 𝙋𝙮𝙩𝙝𝙤𝙣, 𝙅𝙖𝙫𝙖, 𝘾, 𝙎𝙌𝙇, 𝙅𝙖𝙫𝙖𝙎𝙘𝙧𝙞𝙥𝙩, 𝙍𝙚𝙖𝙘𝙩, 𝙉𝙤𝙙𝙚.𝙟𝙨, 𝘿𝙤𝙘𝙠𝙚𝙧, 𝙆𝙪𝙗𝙚𝙧𝙣𝙚𝙩e𝙨, as well as cloud environments like 𝘼𝙒𝙎 and 𝘼𝙯𝙪𝙧𝙚.</p>
                  
                    <p>I also founded and lead Black and Code, a student organization at Wooster that serves as a 𝙉𝙎𝘽𝙀 (National Society of Black Engineers) chapter.</p>
                  <h3>Beyond the computer </h3>
                  <p>I'm a collegiate short-distance runner and channel my creativity through photography, drawing, and prototyping Check out my <a href="https://solomonhiruy00.wixsite.com/through-the-creation" target="_blank" style="color: #000; text-decoration: underline;">studio art portfolio</a> to see my work. I also enjoy exploring stories through anime, animations, and great films, follow me on <a href="https://letterboxd.com/hiruy_worku/" target="_blank" style="color: #000; text-decoration: underline;">Letterboxd</a>. 
                  <p>
                  
                </div>
                <div class="col-xs-12 col-md-6">
                  <img id="about-switcher" src="/static/assets/me_images/original.jpg" alt="About Image" style="width: 500px; height:auto;">
                </div>
              </div>
            </div>
          </div>
          
          
       </div>
      </div>
    </div>
  </div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© 2025 Hiruy Worku | Designed & developed by me</p>
      </div>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script type="text/javascript" src="static/main.js"></script>
</body>

</html>